.cont1{
   border: 2px solid white;
   background-color: aqua;
   float: left;
}
.cont2{
    border: 2px solid white;
   background-color: orange;
   float: right;
}

img{
    float: left;
}
footer{
    background-color: aquamarine;
    text-align: center;
    clear: both;
}
@media (min-width: 720px){
      body{
        background-color: red;
      }
}