@media (min-width: 360px) and (max-width: 640px){
    body{
        background-color: aqua;
    }
}
@media (min-width: 601px) and (max-width: 962px){
    body{
       background-color: blueviolet;
    }
}
@media (min-width: 720px) and (max-width: 1680px){
    body{
        background-color: brown;
    }
}
@media (min-width:1680px ) and (max-width: 3000px){
    body{
        background-color: plum;
    }
}